services:
  postgres:
    image: postgres:18
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: chillflix
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata:
