services:
  postgres:
    image: postgres:18
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: chillflix
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql

  redis:
    image: redis:8.2.3
    container_name: redis-db
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redisdata:/data
    command: ['redis-server', '--appendonly', 'yes']
volumes:
  pgdata:
  redisdata:
